body {
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Caudex', serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0px 166px;
}

.header {
    background-image: url(pictures/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.nav-item {
    color: white;
    text-decoration: none;
}